{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "overrides": [{ "files": "*.json/hbs", "options": { "singleQuote": true, "parser": "json" } }]
}
